/* Table */
.table {
  padding: 0;
  height: 100%;
  border-collapse: separate;
  border-spacing: 0;
  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);*/
  margin-left: auto;
  margin-right: auto;
}

/* Button */
.table__header {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: times;
  font-weight: bold;
}

/* Top left cell */
.first {
  left: 0;
  position: sticky;
  background: #c9c9c9;
  text-align: left;
  z-index: 3;
  border-right: thin solid #dddddd;
  border-bottom: thin solid #dddddd;
}

thead th {
  top: 0;
  position: sticky;
  z-index: 2;
  min-height: 30px;
  height: 30px;
  text-align: center;
  background: #c9c9c9;
  border-bottom: thin solid #dddddd;
}

tbody tr:nth-child(odd) td:first-of-type {
  left: 0;
  z-index: 1;
  position: sticky;
  background: white;
  text-align: left;
  border-right: thin solid #dddddd;
}

tbody tr:nth-child(even) td:first-of-type {
  left: 0;
  z-index: 1;
  position: sticky;
  background: #f2f2f2;
  text-align: left;
  border-right: thin solid #dddddd;
}

tr:nth-child(odd) {
  background: white;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

th, td {
  padding: 8px 16px;
  text-align: center;
}

tr {
  min-height: 25px;
  height: 25px;
}

/* Auto-scaling images */
img {
  width: 95%;
  max-width: 1500px;
  object-fit: contain;
}

body {
  text-align: center;
}

#table-div {
  width: 90%;
  height: 600px;
  max-height: 100%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}
